<div class="container">
    <div *ngIf="authenticated && scoreInfo">
        <h4>
            Your current score: <strong>{{scoreInfo.score}}</strong>
        </h4>

        <div class="container">
            <h5>Score board table</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let info of scoreInfo.board">
                    <td>{{info.fullname}}</td>
                    <td>{{info.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div *ngIf="!authenticated">
        <h4>Welcome to USCIS Naturalization practice website!</h4>
    </div>
</div>